.logo-and-buttons {
  position: relative;
  width: 30%;
  height: 150px;
  min-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-and-color {
  display: flex;
  justify-content: space-between;
}

.main-heading {
  font-size: 24px;
  font-weight: 700;
}

.advance {
  font-size: 14px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-and-buttons .buttons {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.play-button, .bpm-select{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: palegreen;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-select {
  position: absolute;
  top: -19px;
  left: 0px;
}
