.oscilloscope {
  width: 30%;
  min-width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

.osc-canvas {
  width: 90%;
  height: 90%;
  border-radius: 5px;
}