.start-button {
  background: rgb(143, 97, 230);
  color: white;
  width: 600px;
  height: 200px;
  padding: 20px;
  font-family: 'Aldrich', sans-serif;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-style: outset;
  border-radius: 5px;
  z-index: 300;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 20px;
  position: relative;
}

.loading-container {
  width: 600px;
  height: 200px;
  padding: 20px;
  padding-top: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loading {
  color: rgb(143, 97, 230);
}

.click-catcher {
  width: 100%;
  height: 500%;
  z-index: 100;
  position: absolute;
}

.start-button.sparks {
  background: rgb(231, 133, 41);
}

.start-button.dokidoki {
  background: rgb(248, 103, 131);
}

.start-button.free {
  background: rgb(71, 209, 222);
}

.start-button.hxh {
  background: rgb(81, 145, 78);
}