/* @import "https://fonts.googleapis.com/css?family=Faster+One&display=swap"; */


.instruction-button {
  position: absolute;
  top: 10px;
  left: 10px;  
  font-family: 'Aldrich', sans-serif;
}

.instructions-background {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100vw;
  height: 100vh; */
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.instructions {
  position: fixed;
  z-index: 100;
  background: rgb(94, 94, 94);
  /* background: rgb(143, 97, 230); */
  border: 1px solid white;
  /* border: 2px solid black; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 350px;
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.instructions-header {
  font-family: 'Faster One', cursive;
  font-size: 34px;
  text-align: center;
  margin: 20px 0;
  color: black;
}

.fa-times {
  position: absolute;
  right: 10px;
  top: 5px;
}

.bullet-points {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Aldrich', sans-serif;
  font-size: 16px;
  height: 250px;
  width: 90%;
}

.bullet-points li {
  list-style-type: disc;
  font-family: 'Aldrich', sans-serif;
  text-align: center;
} 

/* .mobile {
  width: 80%;
} */

.mobile {
  position: fixed;
  z-index: 100;
  background: rgb(143, 97, 230);
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 200px;
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-header {
  font-family: 'Faster One', cursive;
  font-size: 34px;
  margin-bottom: 20px;
}

.mobile p {
  font-family: 'Aldrich', sans-serif;
  color: white;
  font-size: 24px;
}